<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
</head>
<body>
  <% if false %>
    <h1>Hello <%= greet_name %></h1>
    <form method="post" action="/change">
      <input name="name" type="text">
      <input type="submit" value="Change Name">
    </form>
  <% end %>
  <br /><br />

  <table class="table table-bordered">
  <% (1..9).each do |i| %>
    <tr>
      <% @sudoku.row(i).cells.each do |c| %>
        <td>
          <% if c.val %>
            <span class="solved_square"><%= c.val %></span>
          <% else %>
            <% (1..9).each do |i| %>
              <% if c.candidates.include? i %>
                <span class="candidate"><%= i.to_s %></span>
              <% else %>
                <span class="candidate eliminated"><%= i.to_s %></span>
              <% end %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>

</body>
</html>